
a:link, a:visited, a:active, a:hover {
  color: #82ADFE;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #BC0000;
  color: #fff;
  font-family: 'Roboto', Arial, serif;
}

#share {
  background: #122B60;
  color: rgba(255, 255, 255, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  text-align: right;
}

#share .wrap {
  padding: 12px 24px 0;
}

#share a {
  color: #fff!important;
}

#wtf {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 75px;
}

#so {
  font-variant: small-caps;
  color: #ffffff;
  font-size: 36px;
  height: auto;
  padding: 30px 30px 60px 30px;
  background-repeat: no-repeat;
  text-align: center;
  letter-spacing: 0.15em;
}

@media only screen and (max-width: 720px) {
  #so {
    font-size: 30px!important;
  }
  #so {
    padding: 15px 30px 30px 30px!important;
  }
  .text {
    padding: 0 0.5em!important;
  }
  .text p {
    font-size: 14px!important;
  }
  .bfd a {
    font-size: 18px!important;
  }
  .text h3 {
    font-size: 18px!important;
  }
}

#frames {
  position: relative;
  width: 100%;
}

#frames .frame {
  display: block;
  max-width: 100%;
  margin:0;
}

#frames .frame.future, #frames .frame.past {
  display: none;
}

.csstransforms3d #frames {
  -webkit-perspective: 1200;
  -moz-perspective: 1200px;
}

.csstransforms3d #frames .frame {
  position: absolute;
  width:100%;
  margin-bottom: 12px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform-origin: 50% 0 0 50%;
  -webkit-transform-origin: 50% 0 0 50%;
  -o-transform-origin: 50% 0 0 50%;
  -ms-transform-origin: 50% 0 0 50%;
  transform-origin: 50% 0 0 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform: rotateY(0) translateZ(0);
  -webkit-transform: rotateY(0) translateZ(0);
  -o-transform: rotateY(0) translateZ(0);
  -ms-transform: rotateY(0) translateZ(0);
  transform: rotateY(0) translateZ(0);
  opacity: 1;
  display: block;
  -webkit-transition: .3s ease-in-out, opacity .3s ease-in-out;
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.5s ease-in-out;
  -moz-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.5s ease-in-out;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.5s ease-in-out;
}
/* line 295, ../scss/lib/_mixins.scss */
.csstransforms3d #frames .frame.future {
  -moz-transform: rotateY(60deg) translateZ(350px) translate(200px);
  -webkit-transform: rotateY(60deg) translateZ(350px) translate(200px);
  -o-transform: rotateY(60deg) translateZ(350px) translate(200px);
  -ms-transform: rotateY(60deg) translateZ(350px) translate(200px);
  transform: rotateY(60deg) translateZ(350px) translate(200px);
  opacity: 0;
}
/* line 300, ../scss/lib/_mixins.scss */
.csstransforms3d #frames .frame.past {
  -moz-transform: rotateY(-60deg) translateZ(350px) translate(-200px);
  -webkit-transform: rotateY(-60deg) translateZ(350px) translate(-200px);
  -o-transform: rotateY(-60deg) translateZ(350px) translate(-200px);
  -ms-transform: rotateY(-60deg) translateZ(350px) translate(-200px);
  transform: rotateY(-60deg) translateZ(350px) translate(-200px);
  opacity: 0;
}
/* line 305, ../scss/lib/_mixins.scss */
.csstransforms3d #frames .frame.loading {
  visibility: hidden;
}
/* line 77, ../scss/style.scss */
#frames .frame {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
}

/* line 87, ../scss/style.scss */
.bfd {
  margin-top: 24px;
}
/* line 89, ../scss/style.scss */
.bfd a {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  cursor: pointer;
  position: relative;
  padding: .5em 1.5em;
  margin-bottom: 12px;
  text-align: center;
  display: inline-block;
  border-radius: 26px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  text-decoration: none;
  white-space: normal;
  color: #BC0000;
  border: 1px solid #666;
  border-color: rgba(20, 20, 20, 0.15);
  background: #ffffff;
  font-size: 22px;
}
/* line 18, ../scss/lib/_mixins.scss */
.bfd a:hover {
  background-color:#FF0000;
  color: #ffffff;
  text-decoration: none;
}
/* line 23, ../scss/lib/_mixins.scss */
.bfd a:active, .bfd a.stayActive {
  background: #98b9fc;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #98b9fc), color-stop(100%, #80a8fb));
  background: -webkit-linear-gradient(top, #98b9fc, #80a8fb);
  background: -moz-linear-gradient(top, #98b9fc, #80a8fb);
  background: -o-linear-gradient(top, #98b9fc, #80a8fb);
  background: -ms-linear-gradient(top, #98b9fc, #80a8fb);
  background: linear-gradient(top, #98b9fc, #80a8fb);
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 1px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 1px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 1px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 1px 0 inset;
}

.v_logo {
  display: block;
  position: relative;
}
.v_logo img {
  width: 110px;
  margin: 30px 0 0 0;
}
.v_logo.hidden {
  display:none;
}

/* line 96, ../scss/style.scss */
.text {
  display: block;
  padding: 0 1em;
  line-height: 48px;
  font-size: 42px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
  max-width: 600px;
  margin: 0 auto;
}

.text h3 {
  font-size: 21px;
  font-weight: 800;
  line-height: 1.3em;
  text-align: left;
  padding: 0;
  margin: 0;
}

.text p {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.3em;
  text-align: left;
}

/* line 102, ../scss/style.scss */
.footnote {
  margin: 16px 0 0;
  display: block;
  font-size: 14px;
  font-style: italic;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 111, ../scss/style.scss */
#twAndFb {
  text-align: left;
}

/* line 115, ../scss/style.scss */
#links {
  display: block;
  float: right;
  text-align: right;
}

/* line 121, ../scss/style.scss */
.clearfix {
  zoom: 1;
}

/* line 124, ../scss/style.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 131, ../scss/style.scss */
#credits {
  font-size: 12px;
}

@media only screen and (max-device-width : 320px) {
  /* line 140, ../scss/style.scss */
  body {
    width: 300px;
    height: auto;
    padding: 10px;
    display: block;
  }

  /* line 148, ../scss/style.scss */
  #so {
    width: auto;
    height: 48px;
    background-size: contain;
    margin: 10px 0;
  }

  /* line 160, ../scss/style.scss */
  #wtf #frames .text {
    font-size: 24px;
    line-height: 1.15em;
  }
  /* line 166, ../scss/style.scss */
  #wtf #frames .bfd {
    margin-top: 20px;
  }
  /* line 170, ../scss/style.scss */
  #wtf #frames .bfd a {
    font-size: 20px;
  }
  /* line 174, ../scss/style.scss */
  #wtf #frames .footnote {
    overflow: hidden;
    width: 300px;
  }

  /* line 180, ../scss/style.scss */
  #share {
    display: none;
  }
}